@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-shadow: 0px 0px 10px #ffffff;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#722626, #000000);
  overflow: hidden;
}

.wrap {
  width: 350px;
  height: 500px;
  position: relative;
  transform: rotateX(30deg);
  transform-style: preserve-3d;
  margin-top: 30px;
}

.card {
  background: radial-gradient(#1E0707, #860301);
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
  --mask:
    linear-gradient(#000 0 0) 50%/calc(100% - 27.75px) calc(100% - 27.75px) no-repeat,
    radial-gradient(farthest-side, #000 98%, #0000) 0 0/30px 30px round;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  text-align: center;

  &--front {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s cubic-bezier(0.4, 0.0, 0.2, 1);
    transform-origin: center left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  &.open {
    transform: rotateY(-180deg);
    padding: 15px;
  }

  &.back {
    z-index: 0;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
  }
}

.inner-h {
  transform: scaleX(-1);
}

.inner-p {
  transform: scaleX(-1);
  margin-top: 30px;
}



// SNOW EFFECT START
.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }

  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

.snowflake:nth-child(6n) {
  filter: blur(1px);
}

// SNOW EFFECT END


// LIGHTS START
$globe-width: 12px;
$globe-height: 28px;
$globe-spacing: 40px;
$globe-spread: 3px;
$light-off-opacity: 0.4;

.lightrope {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  margin: -15px 0 0 0;
  padding: 0;
  pointer-events: none;
  width: 100%;

  li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: $globe-width;
    height: $globe-height;
    border-radius: 50%;
    margin: $globe-spacing/2;
    display: inline-block;
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 247, 165, 1);
    animation-name: flash-1;
    animation-duration: 2s;

    &:nth-child(2n+1) {
      background: rgba(0, 255, 255, 1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 255, 255, 0.5);
      animation-name: flash-2;
      animation-duration: 0.4s;
    }

    &:nth-child(4n+2) {
      background: rgba(247, 0, 148, 1);
      box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247, 0, 148, 1);
      animation-name: flash-3;
      animation-duration: 1.1s;
    }

    &:nth-child(odd) {
      animation-duration: 1.8s;
    }

    &:nth-child(3n+1) {
      animation-duration: 1.4s;
    }

    &:before {
      content: "";
      position: absolute;
      background: #222;
      width: ($globe-width - 2);
      height: $globe-height/3;
      border-radius: 3px;
      top: (0 - ($globe-height/6));
      left: 1px;
    }

    &:after {
      content: "";
      top: (0 - $globe-height/2);
      left: $globe-width - 3;
      position: absolute;
      width: $globe-spacing + 12;
      height: ($globe-height/3 * 2);
      border-bottom: solid #222 2px;
      border-radius: 50%;
    }

    &:last-child:after {
      content: none;
    }

    &:first-child {
      margin-left: -$globe-spacing;
    }
  }
}

@keyframes flash-1 {

  0%,
  100% {
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 247, 165, 1);
  }

  50% {
    background: rgba(0, 247, 165, $light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 247, 165, 0.2);
  }
}

@keyframes flash-2 {

  0%,
  100% {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 255, 255, 1);
  }

  50% {
    background: rgba(0, 255, 255, $light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(0, 255, 255, 0.2);
  }
}

@keyframes flash-3 {

  0%,
  100% {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247, 0, 148, 1);
  }

  50% {
    background: rgba(247, 0, 148, $light-off-opacity);
    box-shadow: 0px $globe-height/6 $globe-width*2 $globe-spread rgba(247, 0, 148, 0.2);
  }
}

// LIGHTS STOP